#formbuilder {
	width:100%;
}

#formbuilder p {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	color: #1B1B1B;
}

#formbuilder th {
	font-family:Arial;
	font-size:14px;
	font-weight: bold;
	padding-top:10px;
	padding-bottom: 10px;
}

#formbuilder td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align:top;
}

#formbuilder a:active {
	color: #336699;
	text-decoration: underline
}

#formbuilder a:hover {
	color: #CC9900;
	text-decoration: underline
}

#formbuilder a:link {
	color: #336699;
	text-decoration: underline
}

#formbuilder a:visited {
	text-decoration: underline
}

#formbuilder a:active {
	color: #336699;
	text-decoration: underline
}

#formbuilder a.bodylink1:hover {
	color: #CC9900;
	text-decoration: underline
}

#formbuilder a.bodylink1:link {
	color: #336699;
	text-decoration: underline
}

#formbuilder a.bodylink1:visited {
	text-decoration: underline
}

#formbuilder a.redlink1:active {
	color: #990000;
	text-decoration: underline
}

#formbuilder a.redlink1:hover {
	color: #990000;
	text-decoration: underline;
	font-weight: bold;
}

#formbuilder a.redlink1:link {
	color: #990000;
	text-decoration: underline
}

#formbuilder a.redlink1:visited { 
	color: #990000;
	text-decoration: underline
}

.dbmessage {
	background-color: #F8E2E3;
	margin: 12px;
	padding: 4px;
	border: 1px solid #800000;
	color: #800000;
	
}

#formbuilder .text4 {
	font-family:Arial;
	font-size:20px;
}

#formbuilder .radiotxt {
	font-family: Verdana;
	font-weight: bold;
}

#formbuilder .instruction {
	color: #7581b0;
	font-size:12px;
}

#formbuilder .inputbox  {
	height:25px;
	padding_bottom:10px;
	border: 1px solid #464646;
}

/*#validator {
	display:none;
}*/

#formbuilder legend {
	font-size:18px;
	color:#0053A6;
	font-weight:bold;
	font-family: "Open Sans", Arial,sans-serif;;
}

#formbuilder .textsize11px {
	font-size: 11px;
}

#formbuilder .form1 { 
	border: 1px inset #eeeeee;
	background-color: #EDF1FA;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 12px;
	color: #404F66;
}

#formbuilder .required {
	color: #990000;
}

#formbuilder .FormButton_sm {
		border: 3px double #999;
		border-left-color: #ccc;
		border-top-color: #ccc;
		color: #333;
		padding: 0.25em;
		font:  11px Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
		cursor: pointer;
}

#formbuilder .button_sm {
		border: 1px solid #999;
		border-left-color: #ccc;
		border-top-color: #ccc;
		color: #333;
		padding: 0.25em;
		font:  10px Geneva, Arial, Helvetica, sans-serif;
		font-weight:bold;
		cursor: pointer;
}

#formbuilder .form2_blue_dkblue {
	border: 1px solid #A3B4E0 inset #eeeeee;
	background-color: #EDF0F9;
	font-size: 12px;
	font-weight: normal;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #2D3353;
	padding: 2px;
}

#formbuilder .borderbottom {
	border-bottom: 2px solid #464646;
}



#formbuilder input[type=checkbox], input[type=radio]  {
	height:15px;
	/*padding_bottom:10px;*/
}

#formbuilder select  {
	height:25px;
	/*padding_bottom:10px;*/
}

#formbuilder fieldset { width:75%;padding-top:10px;padding-bottom:10px;max-width:700px;margin-bottom: 30px;text-align:left;}
#formbuilder fieldset legend h2 {color:#5888b4; font-weight:bold; font-size:14px;text-align:left;}
#formbuilder .label {text-align:right;height:35px;font-size:14px;padding-top:15px;}
#formbuilder .labeltop {height:25px;font-size:14px;padding-top:15px;}
#formbuilder .regular { 
		border: 1px inset #eeeeee;
		background-color: #f2f2f2;
		padding: 2px;
		font-family: Verdana, Arial, Helvetica, san-serif;
		font-size: 11px;
		color: #404F66;
		width:210px;
}

/*#formbuilder .lgregular { 
		border: 1px inset #eeeeee;
		background-color: #f2f2f2;
		padding: 2px;
		font-family: Verdana, Arial, Helvetica, san-serif;
		font-size: 11px;
		color: #404F66;
		width:95%;
}*/

#formbuilder .lgregular {
	background-color: #f2f2f2;
	height: 26px;
	border: solid #c3c3c3 1px;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 11px;
	color: #404F66;
	width:95%;
	-moz-border-radius: 0.350em;
	-webkit-border-radius: 0.350em; 
	border-radius: 0.350em;	

}

#formbuilder .inputreg { 
	border: solid #c3c3c3 1px;
	background-color: #f2f2f2;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 11px;
	color: #404F66;
	height: 26px;
	-moz-border-radius: 0.350em;
	-webkit-border-radius: 0.350em; 
	border-radius: 0.350em;	
}

#formbuilder .valtext {
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 11px;
}

form .formbutton {
		border: 3px double #999;
		border-left-color: #ccc;
		border-top-color: #ccc;
		color: #333;
		padding: 0.15em;
		font:  12px Verdana, Arial, Helvetica, sans-serif;
		font-weight:bold;
		cursor: pointer;
		cursor:hand;
		background-color:#f2f4f6;
}
