<style>
.show {display:block;}
.hide {display:none;}

</style>
<body onload="showForm('{PLUGINURL}/kybformbuilder/model/form_view.php?formID={formID}&process=update&preview=1')">
<div class="widget-body" style="background-color: #ffffff;">
	<div class="row-fluid">
		<!-- Column -->
		<div class="span4">	
			<!-- Widget -->
			<div class="widget" data-toggle="collapse-widget" data-collapse-closed="false">
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Form Section Information</h4>
				</div>
				<!-- // Widget heading END -->
				<br>
				<div class="row-fluid">
					<input type="hidden" name="sorder" id="sorder" class="form1" value="{sectionorder}"/>
					<input type="hidden" name="forder" id="forder" class="form1" value="{fieldorder}">
					<input type="hidden" name="formID" id="formID" value="{formID}">
					<input type="hidden" name="sectionID" id="sectionID" value="{sectionID}" />
					<input type="hidden" name="pluginURL" id="pluginURL" value="{PLUGINURL}/kybformbuilder"/>

					
					<label><span class="show" id="currlabel">{sectionheader}&nbsp;:&nbsp;</span></label>					
					<span class="show" id="currsection">{section}</span>
					<label><span class="hide" id="titlelabel">Section Title&nbsp;:&nbsp;</span></label>					
					<span class="hide" id="sectiontitle"><input type="text" name="section" id="section" class="span6" /></span>
				</div>
			</div>
			<br>
			<!-- Widget -->
			<div class="widget" data-toggle="collapse-widget" data-collapse-closed="false">
				<!-- Widget heading -->
				<div class="widget-head">
					<h4 class="heading">Form Field Information</h4>
				</div>
				<!-- // Widget heading END -->
				<br>
				<div class="row-fluid">
					<label>Label Name&nbsp;:&nbsp;</label>					
					<input type="text" name="fname" id="fname" class="span6" value="{fieldname}">
					<div class="clear"></div>

					<label>Field Name&nbsp;:&nbsp;</label>					
					<input type="text" name="sfname" id="sfname" class="span6" value="{shortfieldname}" onblur="ajaxFunction('checkname')"><span id="fieldnamecheck"></span>
					<div class="clear"></div>

					<label>Instructions&nbsp;:&nbsp;</label>					
					<input type="text" name="finstruction" id="finstruction" class="span6" value="{fieldinstruction}">
					<div class="clear"></div>

					<label style="width: 200px;">Required Field&nbsp;:&nbsp;</label>					
					<input type="radio" value="1" name="frequired" id="frequired">Yes&nbsp;&nbsp;<input type="radio" value="0" name="frequired" id="frequired" selected>No
					<div class="clear"></div>

					<label style="width: 200px;">Place Label on Same Line?&nbsp;:&nbsp;</label>					
					<input type="radio" value="1" name="ftplacement" id="ftplacement">Yes&nbsp;&nbsp;<input type="radio" value="0" name="ftplacement" id="ftplacement" >No
					<div class="clear"></div>

					<label style="width: 200px;">Place Field on Same Line?&nbsp;:&nbsp;</label>					
					<input type="radio" value="1" name="fplacement" id="fplacement">Yes&nbsp;&nbsp;<input type="radio" value="0" name="fplacement" id="fplacement" >No
					<div class="clear"></div>
					<hr/>

					<label class="nofloat autowth" style="text-align:left;">Select Form Field Type&nbsp;:&nbsp;</label>		
					<div class="clear"></div>
					<div style="margin-left: 30px;">
						<table cellpadding="0" cellspacing="0" class="span6">
							{fieldtypes}
						</table>
					</div>
					<div class="clear"></div>
					
					<div style="margin-left: 30px;margin-top:30px;">
						<label class="nofloat autowth" style="text-align:left;">If you selected "Selection Dropdown" or "Options", please enter the option values below each followed by a comma. (i.e. Blue, Green, Yellow)</label>	
						<div style="width: 100%;">
							<input type="button" class="btn btn-block btn-inverse divbtn" value="Insert State List" onclick="insertList('state')" />
							<input type="button" class="btn btn-block btn-inverse divbtn" value="Country List" onclick="insertList('country')"/>
						</div>
						<div class="clear"></div>
						<div style="width: 100%;">
							<input type="button" class="btn btn-block btn-inverse divbtn" value="Insert State Abbreviations" style="width: 200px;" onclick="insertList('stateabb')"/>
							<input type="button" class="btn btn-block btn-inverse divbtn" value="Clear List" onclick="insertList('empty')"/>
						</div>
						<div class="clear"></div><br>
						<textarea name="options" id="options" style="height:100px; width:300px;" class="span6"></textarea><br><br>
						<div class="clear"></div>
						<div style="width: 100%;">
							<input name="Submit" type="button" class="btn btn-block btn-inverse divbtn" id="Submit" onclick="javascript:window.location='{LISTPAGE}'" value="Cancel"/>
							<input name="Submit" type="button" class="btn btn-block btn-inverse divbtn" id="Submit" onclick="javascript:loadFrames('{PLUGINURL}/kybformbuilder/model/form_view.php?formID={formID}&process=addfields&preview=1')" value="AddFields" />
							<input name="Submit" type="submit" class="btn btn-block btn-inverse divbtn" id="Submit" onclick="javascript:window.location='{LISTPAGE}'" value="Finish"/>
						</div>
						<div class="clear"></div>
						<br><br>
					</div>

					

				</div>
			</div>
		</div>
		<div class="span6">
		<div style="width: 400px;">
			<div class="divbtn">
				<input type="button" name="Submit" class="btn btn-block btn-inverse" value="Refresh Form" alt="Refresh Form" title="Refresh Form" onclick="showForm('{PLUGINURL}/kybformbuilder/model/form_view.php?formID={formID}&process=update&preview=1')">
			</div>
		</div>
		<div class="clear"></div>
			
			<span id="formview"></span>	
		</div>
	</div>
</div>


	