<p style="font-style:italic;font-weight:normal;"><font color='red'>*</font> 8.25% sales tax will be added to your order</p>
<p class='dbmessage' style="font-size: 13px;">Payment Information</p>

<table cellpadding="5" cellspacing="5" width="90%" align="center">
	<tbody>
		<tr>
			<td class='label'><b><font color="red">*</font>&nbsp;Credit Card Type&nbsp;:&nbsp;</b></td>
			<td>
				<select name="customer_credit_card_type" id="customer_credit_card_type" class="style1 forminput lgregular">
				<option value="">-- Please select --</option><option value="visa">Visa</option><option value="master_card">Master Card</option><option value="discocer">Discover</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="style1 formlabel label"><b><font color="red">*</font>&nbsp;Credit Card No&nbsp;:&nbsp;</b></td>
			<td><input type="text" name="customer_credit_card_number" id="customer_credit_card_number" value="" class="style1 forminput lgregular"></td>
		</tr>
		<tr>
			<td class="style1 formlabel label"><b><font color="red">*</font>&nbsp;Expiration Date&nbsp;:&nbsp;</b></td>
			<td>
				<select name="cc_expiration_month" id="cc_expiration_month" class="style1 forminput lgregular" style="width:75px;">
				<option value="">Select</option><option value="01">January</option><option value="02">February</option><option value="03">March</option><option value="04">April</option><option value="05">May</option><option value="06">June</option><option value="07">July</option><option value="08">August</option><option value="09">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option>
				</select>
				<select name="cc_expiration_year" id="cc_expiration_year" class="style1 forminput lgregular" style="width:75px;">
				<option value="">Select</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div align="center">
				<p>We only accept:<br>
				<img src="{THEMEURL}/images/visa_mc_discover.jpg" alt="Trinity River Kayak Accepted Payment" title="Trinity River Kayak Accepted Payment"  ></p>
				<a href="http://www.positiveSSL.com" onclick="javascript:_gaq.push(['_trackPageview','/yoast-ga/outbound-widget/http://www.positiveSSL.com']);" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PossitiveSSL_tl_trans.gif" alt="Positve SSL on a transparent background" title="Positve SSL on a transparent background" border="0"></a>
			</div>
			</td>
		</tr>
	</tbody>
</table>