<script language="javascript">
<!--

	function showSearch() {
		var keywords = document.getElementById('post-search-input').value;
		window.location = "{SUBMISSIONURL}&filtertype=search&keywords=" + keywords;
	}


</script>
<div class="wrap">
	<div id="icon-edit-pages" class="icon32 icon32-posts-page"><br></div><h3>{HEADER} Submissions</h3><br>
	<table cellpadding="3" cellspacing="3">
		<tr>
			<td><span class="btn btn-block btn-inverse" style="width:200px;" onclick="javascript:window.location='{RETURNURL}'">{RETURNMSG}</span></td>
			<td><span class="btn btn-block btn-inverse" style="width:200px;float:left;" onclick="javascript:window.location='{PLUGINURL}/model/form_ajax.php?process=extract&formID={FORMID}'">Download Listings</span></td>
		</tr>
	</table>
	



</div>

<p class="search-box">
	<label class="screen-reader-text" for="post-search-input">Search Submission:</label>
	<input id="post-search-input" name="s"  value="" type="text">
	<input name="" id="search-submit" class="button" value="Search Submissions" type="button" onclick="showSearch()"></p>
<ul class="subsubsub">
	
</ul>
<br><br>
<div class="tablenav top">
<div class="alignleft actions">
	
</div>
<div class="alignleft actions">
	<!--<select name="filter" id="filter">
		{FILTEROPTIONS}		
	</select>
	<input name="filtersubmit" id="post-query-submit" class="button-secondary" value="Filter" type="button" onclick="filterSort()">-->
</div>

<div class="tablenav-pages"><span class="displaying-num">{LISTCOUNT} items - showing {START} - {END}</span>
{PAGETURNS}
</div>
<br class="clear">
	
</div>

<p id="linktocopy"></p>
<div style='margin-left:20px;'>
	<table class="table table-bordered table-striped" style="width:95%">				
		<!-- Table heading -->
		<thead>
			<tr>
				<th style="width:35px;">ID</th>
				<th>Date</th>
				<th>Name/Title</th>
				<th>Email</th>
				<th>Review/Print</th>
				<th>Delete</th>
			</tr>
		</thead>
		<!-- // Table heading END -->
		
		<!-- Table body -->
		<tbody>			
			{LISTINGS}
		</tbody>
		<!-- // Table body END -->
		
	</table>
	
</div>