<h1 align="center">{COMPANY} Online Training</h1>
<center><b>Thank you for registering with us!</b><br/></center>
<p>Dear {NAME},</p>

<p>Your training registration account has been created!  Here is your username and password below.</p>

<p>Username: {USERNAME}<br>
Password: {PASSWORD}</p>

<p>Your username and password are used for accessing protected areas of the {COMPANY} website and to view your training sessions.  Therefore, please keep your username and password in a safe place.</p>

<p>To change your account details or to view your past orders, logon to:</p>

<p><a href="{MYACCOUNTLINK}">{MYACCOUNTLINK}</a></p>

<p>If you fogotten your password please go to:</p>

<p><a href="{FORGOTPASSWORDLINK}">{FORGOTPASSWORDLINK}</a></p>

<p>Again, thank you for registering with us!</p>

<p>-- {COMPANY}<br>{COMPANYADDRESS}<br>PH: {COMPANYPHONE}<br>EM: <a href="mailto:{COMPANYEMAIL}">{COMPANYEMAIL}</a></p>