<h2 class="nav-tab-wrapper">
	{TABS}
</h2>
<div id="current-theme" class="has-screenshot">
	<a href="http://www.kybproductions.net/kybdemo/wp-admin/customize.php" class="load-customize hide-if-no-customize" title="Customize “{TEMPLATENAME}”">
	<img src="{THEMESCREEN}" alt="Current theme preview">
	</a>
	<img class="hide-if-customize" src="{THEMESCREEN}" alt="Current theme preview">
	
	
	<h4>{TEMPLATENAME}</h4>

	<div>
		<ul class="theme-info">
			<li>By <a href="http://wordpress.org/" title="Visit author homepage">{TEMPLATEAUTHOR}</a></li>
			<li>Version {VERSION}</li>
		</ul>
		<p class="theme-description">{DESCRIPTION}</p>
		<a style="font-size: 14px;" href="{PREVIEWLINK}" target="_blank">Preview Template</a>
		
	</div>
</div>


<p class="dbmessage"><b>Template Settings</b></p>
{THEMEFIELDS}
